body{font-family:"??";font-size:9pt;line-height:12pt;color:#000000;margin-left: 0px;margin-top: 0px;}
A:link{text-decoration:none;color:0000ff;font-family:??}
A:visited{text-decoration:none;color:0000ff;font-family:??}
A:hover{text-decoration:underline;color:ff0000;}
TABLE,BODY,INPUT,SELECT,TEXTAREA,BUTTON,TD,TR,P,DIV{font-family:"??";FONT-SIZE:9pt;}
